* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: snow;
}

header {
    padding: 60px;
    border-width: 0.3cm;
    border-style: double;
    border-color: salmon;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    background-color: rgb(0, 32, 90);
    color: powderblue;
}

header h1 {
    display: inline-block;
    font-size: 40px;
    margin-bottom: 20px;
}

header h1 .therapy {
    color: plum;
    font-style: italic;
}

header nav {
    display: flex;
    float: right;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    background-color:lightsalmon;
}

header nav ul  {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    color: darkblue;
    text-decoration: none;
}

nav a:hover {
    padding-top: 0.5px;
    margin-left: 0.5px;
    margin-right: 0.5px;
    background-color: skyblue;
}

.control {
    background-image: url(../images/6389A556-54F9-4BC3-93A9-E969A1475F4C.JPG);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
}

.control h1 {
    text-align: right;
    margin-right: 20px;
    vertical-align: text-bottom;
    color: rgb(0, 255, 191);
    background-color: rgba(0, 0, 0, 0.6);
}

.About-Us p {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 1.2px 0 0 gray;
    background-color: rgba(255, 166, 0, 0.7);
}

.About-Us {
    background-image: url(../images/IMG_5331.JPG);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    opacity: 92%;
    margin-bottom: 10px;
}

.Our-Work-Video, .Our-Work-Images {
    margin: 10px;
    opacity: 60%;
    border-width: 0.2cm;
    border-style: groove;
    border-color: rgb(128 0 128);
    border-radius: 10px;
    transform: rotate(1deg);
    box-shadow: 4px 4px 2px violet;
}

.Our-Work-Video:hover, .Our-Work-Images:hover {
    opacity: 100%;
}

.Our-Work-Video {
    padding: 50px;
    height: 300px;
    background-color: #0052b0;
    background-image: url(../images/Video.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.Our-Work-Diptych, .Our-Work-For-Patients, .More-of-Our-Work {
    display: inline-block;
}

.Our-Work-Images {
    padding: 0px;
    height: 200px;
    margin right: 10px;
    max-width: 100%;
    background-color: #0052b0;
    background-repeat: no-repeat;
}

.Our-Work-Diptych, .Our-Work-For-Patients, .More-of-Our-Work {
    position: relative;
    text-align: left;
    color:rgba(128, 0, 128, 0.8)
}

.Our-Work ul {
    list-style-type: none;
}

.Our-Work a {
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.Our-Work-Video h2, .Our-Work-Diptych h2, .Our-Work-For-Patients h2, .More-of-Our-Work h2 {
    position: absolute;
    top: 20px;
    left: 30px;
    background-color: rgba(128, 0, 128, 0.8);
    color: white;
}

.Our-Work-For-Patients h3 {
    position: absolute;
    top: 50px;
    left: 35px;
    font-size: 16px;
    background-color: rgba(128, 0, 53, 0.8);
    color: white;
}

.background {
    float: right;
    display: block;
    max-width: 200px;
    margin-bottom: 10px;
}

.About-Us h1, .Our-Work h1, .Contact-Us h1 {
    margin-left: 10px;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(255, 166, 0, 0.9);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);  
    text-shadow: 1.2px 0 0 rgb(136, 129, 129);  
}

.Contact-Us h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    color:teal;
}

footer h1 
{
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px){
    header nav {
        float: right;
        text-align: right;
    }
}

@media screen and (max-width: 768px){
    .Our-Work {
        flex-direction: column;
    }
    .Our-Work-Images{
        width: 50%;
        height: auto;
    }
}